{% extends "bootstrap/base.html" %}


{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}


{% block title %}PantryKeeper{% endblock %}

{% block navbar %}

<div class="container" id="nav-bar">
    <nav class="navbar navbar-dark bg-dark" id="nav-bar-two">
      <div class="container-fluid">
        <div class="navbar-header navbar-dark">
            <a class="navbar-brand " href="{{ url_for('main.index') }}"">Home</a>
        </div>
            <ul class="nav navbar-nav navbar-dark navbar-right">
                {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                {% else %}
            <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </ul>
      </div>
    </nav>
  </div>


{% endblock %}

{% block content %}

    <div class="container">
        <div class='jumbotron'>
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;
            </button>
            {{ message }}
        </div>
        {% endfor %}
        </div>
    </div>


<div class="container">
    <div class='jumbotron'>
        {% block page_content %}  {% endblock %}
    </div>
</div>

{% endblock %}

{% block scripts%}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}
